HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/webapp/resources/images/ui-icons_444444_256x240.png
/src/main/webapp/resources/images/ui-icons_555555_256x240.png
/src/main/webapp/resources/images/ui-icons_777620_256x240.png
/src/main/webapp/resources/images/ui-icons_777777_256x240.png
/src/main/webapp/resources/images/ui-icons_cc0000_256x240.png
/src/main/webapp/resources/images/ui-icons_ffffff_256x240.png
