<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="thymeleaf/layout/header :: head ('메일 전송')"></head>

<body class="d-flex flex-column h-100">
<header th:replace="thymeleaf/layout/header :: header"></header>

<!-- Begin page content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <label for="mailto" class="form-label">받는 사람</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="mailto" value="jylee@hamonsoft.co.kr" required/>
            </div>
        </div>
        <div class="form-group" style="width: 38%; margin: 10px auto;">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="send_mail()">메일 보내기</button>
        </div>
    </div>
</section>

<footer th:replace="thymeleaf/layout/footer :: footer"></footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script th:inline="javascript">
    function send_mail() {
        var mailto = $('#mailto').val();
        // var mailto = document.getElementById('mailto').value;
        window.open("mail/test_mail?mailto=" + mailto, "", "width=370, height=360, resizable=no, scrollbars=no, status=no");
    }
</script>
</body>

</html>