@charset "UTF-8";

/* 시스템설정페이지 스타일 */

.cont_Wrap{width:100%; height:auto; box-sizing: border-box; padding:10px;overflow: hidden; }
.sysmenu {margin-bottom:10px;}
.sysmenu li{display: inline-block; min-width:110px; box-sizing: border-box;height:50px; line-height:50px; position: relative;padding:0 18px 0 35px; background-color:#fff;font-size: 18px; font-weight:normal; color:#000;text-align: center;cursor: pointer;margin-right: 2px;}
.sysmenu li:hover{background-color:#ececec; color:#000;}
.sysmenu li.active{background-color:#467192; color:#fff;}
.sysmenu li::before{content: '';display: block;width:12px; height:12px;position: absolute; top:19px; left:15px; background: url("../../img/sysmenu_i.png") no-repeat;}
.sysmenu li.active::before{background: url("../../img/sysmenu_i2.png") no-repeat;}
.sub_title{width:100%;height:45px;box-sizing: border-box;line-height: 45px;background-color: #f4f4f4;padding-left: 10px;font-size: 18px;font-weight:normal;color:#000;position: relative;margin:0;}
.sub_title::before{content: '';display: block;width:5px;height:18px;position: absolute;top:13px;left:10px;/* background: url("../../img/subicon.png") no-repeat; */}
.tbl_zone{width:100%; height:auto; box-sizing: border-box; padding:10px; border:1px solid #eeeeee; margin-top:10px;}
.tbl_inner{width:100%; height:auto; box-sizing: border-box; padding:0px; border:1px solid #d6d6d6;border-bottom: none;border-top: none;}
.tbl_inner:first-child{ border-top:1px solid #d6d6d6}
.tbl_inner .tbl_title{width:100%;height:45px;box-sizing: border-box;line-height: 54px;background-color: #fff;padding-left: 10px;font-size: 16px;font-weight:bold;color:#000;position: relative;margin:0;}
.tbl_inner .tbl_title::before{content: '';display: block;width:12px;height:12px;position: absolute;top:17px;left:7px;/* background: url("../../img/tblicon.png") no-repeat; */}
.tbl_inner table{border-top:1px solid #d6d6d6;table-layout: fixed;border-collapse:collapse;}
.tbl_inner table th{line-height: 18px; padding:10px; background-color: #f3f3f3; border-bottom:1px solid #d6d6d6;}
.tbl_inner table td{line-height: 18px; padding:10px; background-color: #fff; border-bottom:1px solid #d6d6d6; font-weight:bold;}
.tbl_inner table input[type="text"], .tbl_inner table textarea {padding-left:5px;border:1px solid #ccc;	height: 20px;color: #444;font-size: 12px;width:95%;margin-left:5px;}
