@charset "UTF-8";

.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #fafafa;
	font-family: "맑은 고딕", Arial, sans-serif;
	font-size: 12px;
	min-width: 150px;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	box-sizing: border-box;
	z-index:1200;
}

.d3-context-menu ul {
	border-radius: 3px;
	list-style-type: none;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	line-height:30px;
	height: 30px;
	clear: both;
}

.d3-context-menu ul li:hover {
	border-radius: 3px;
	background-color: #4d6989;
	color: #ffffff;
}


.d3-context-menu ul li > ul {
	position: absolute;
	background-color: #fafafa;
	box-sizing: border-box;
	/*     top: 0;  */
	left: 151px;
	border-radius: 4px;
	min-width: 150px;
	color: #000;
	z-index: -1;
}

/* 아이콘이 없는경우 클래스 menu_selected */
.d3-context-menu ul.menu_selected li {	text-indent: 20px;	background:url("../img/d3/menu/d3_sbullet.png") no-repeat 8px 13px!important;}
.d3-context-menu ul.menu_selected li:hover{	border-radius: 4px;	background-color: #4d6989!important;	color: #ffffff;}
.d3-context-menu ul.menu_selected li:first-child{border-top:1px solid #D4D4D4; border-top-right-radius: 3px;  border-top-left-radius: 3px;}
.d3-context-menu ul.menu_selected li{border-left:1px solid #D4D4D4;border-right:1px solid #D4D4D4}
.d3-context-menu ul.menu_selected li:last-child{border-bottom:1px solid #D4D4D4; border-bottom-right-radius: 3px;  border-bottom-left-radius: 3px;}

/*  2depth 공통 */
.d3-context-menu ul[class*="menu_"] li{ text-indent: 20px;background:url("../img/d3/menu/topo-icons-v5.11.png") no-repeat;}
.d3-context-menu ul[class*="menu_"] li:hover{	border-radius: 4px;	background-color: #4d6989;color: #ffffff;}
.d3-context-menu ul[class*="menu_"] li:first-child{border-top:1px solid #D4D4D4; border-top-right-radius: 3px;  border-top-left-radius: 3px;}
.d3-context-menu ul[class*="menu_"] li{border-left:1px solid #D4D4D4;border-right:1px solid #D4D4D4}
.d3-context-menu ul[class*="menu_"] li:last-child{border-bottom:1px solid #D4D4D4; border-bottom-right-radius: 3px;  border-bottom-left-radius: 3px;}

/* 2depth - 정렬 */
.d3-context-menu ul.menu_align li:nth-child(1){background-position: 0 5px;} /* 왼쪽맞춤 */
.d3-context-menu ul.menu_align li:nth-child(2){background-position: 0 -20px;} /* 가운데맞춤 */
.d3-context-menu ul.menu_align li:nth-child(3){background-position: 0 -45px;} /* 오른쪽 맞춤 */
.d3-context-menu ul.menu_align li:nth-child(4){background-position: 0 -69px;} /* 위쪽맞춤 */
.d3-context-menu ul.menu_align li:nth-child(5){background-position: 0 -95px;} /* 중간맞춤  */
.d3-context-menu ul.menu_align li:nth-child(6){background-position: 0 -120px;} /* 아래쪽 맞춤 */
.d3-context-menu ul.menu_align li:nth-child(7){background-position: 0 -295px;} /* 가로간격동일 */
.d3-context-menu ul.menu_align li:nth-child(8){background-position: 0 -319px;} /* 세로간격동일 */

/* 2depth - 그리기도구 */
.d3-context-menu ul.menu_draw li:nth-child(1){background-position: 0 -145px;} /* 사각형 */
.d3-context-menu ul.menu_draw li:nth-child(2){background-position: 0 -169px;} /* 둥근사각형 */
.d3-context-menu ul.menu_draw li:nth-child(3){background-position: 0 -194px;} /* 원 */
.d3-context-menu ul.menu_draw li:nth-child(4){background-position: 0 -220px;} /* 선 */
.d3-context-menu ul.menu_draw li:nth-child(5){background-position: 0 -245px;} /* 텍스트  */
.d3-context-menu ul.menu_draw li:nth-child(6){background-position: 0 -270px;} /* 내용 */

/* 2depth - 모드변경 */
.d3-context-menu ul.menu_mode li:nth-child(1){background-position:0 -344px;} /* 조회모드 */
.d3-context-menu ul.menu_mode li:nth-child(2){background-position:0 -369px;} /* 관리모드 */

/* 2depth - 추가 */
.d3-context-menu ul.menu_add li:nth-child(1){background-position:0 -444px;} /* 그룹추가 */
.d3-context-menu ul.menu_add li:nth-child(2){background-position:0 -469px;} /* 등록그룹추가 */
.d3-context-menu ul.menu_add li:nth-child(3){background-position:0 -494px;} /* 등록장비추가 */
.d3-context-menu ul.menu_add li:nth-child(4){background-position:0 -519px;} /* 등록서버추가 */
.d3-context-menu ul.menu_add li:nth-child(5){background-position:0 -544px;} /* 등록센서추가 */
.d3-context-menu ul.menu_add li:nth-child(6){background-position:0 -569px;} /* 등록RACK추가 */
.d3-context-menu ul.menu_add li:nth-child(7){background-position:0 -594px;} /* 등록AP추가 */
.d3-context-menu ul.menu_add li:nth-child(8){background-position:0 -619px;} /* 등록Was추가 */
.d3-context-menu ul.menu_add li:nth-child(9){background-position:0 -644px;} /* 등록DBMS추가 */
.d3-context-menu ul.menu_add li:nth-child(10){background-position:0 -669px;} /* 임의장비추가 */

/* 2depth - 눈금 */
.d3-context-menu ul.menu_ruler li:nth-child(1){background-position:0 -394px;} /* 눈금자 표시 */
.d3-context-menu ul.menu_ruler li:nth-child(2){background-position:0 -419px;} /* 눈금자 숨기기 */

/* 2depth - 안내선 */
.d3-context-menu ul.menu_guide li:nth-child(1){background-position:0 -694px;} /* 안내선표시/숨기기 */
.d3-context-menu ul.menu_guide li:nth-child(2){background-position:0 -719px;} /* 세로안내선추가 */
.d3-context-menu ul.menu_guide li:nth-child(3){background-position:0 -744px;} /* 가로안내선추가 */


/* 2depth - 변경 */
.d3-context-menu ul.menu_change li:nth-child(1){background-position:0 -1246px;} /* 배경이미지변경 */

/* 2depth - Image 관리 */
.d3-context-menu ul.menu_image li:nth-child(1){background-position:0 -1172px;} /* 모델별이미지관리 */
.d3-context-menu ul.menu_image li:nth-child(2){background-position:0 -1197px;} /* 배경이미지관리 */
.d3-context-menu ul.menu_image li:nth-child(3){background-position:0 -1222px;} /* 아이콘이미지관리 */

/* 2depth - 표시순서변경 */
.d3-context-menu ul.menu_order li:nth-child(1){background-position: 0 -2072px;} /* 앞으로가져오기 */
.d3-context-menu ul.menu_order li:nth-child(2){background-position: 0 -2096px;} /* 맨앞으로가져오기 */
.d3-context-menu ul.menu_order li:nth-child(3){background-position: 0 -2123px;} /* 뒤로보내기 */
.d3-context-menu ul.menu_order li:nth-child(4){background-position: 0 -2146px;} /* 맨뒤로보내기 */

/* 2depth - 변경 */
.d3-context-menu ul.menu_icon li:nth-child(1){background-position: 0 -1747px;} /* 아이콘정보변경 */
.d3-context-menu ul.menu_icon li:nth-child(2){background-position: 0 -1770px;} /* 아이콘이미지변경 */
.d3-context-menu ul.menu_icon li:nth-child(3){background-position: 0 -2220px;} /* 타입변경 */

/* 2depth - url설정 */
.d3-context-menu ul.menu_urlTem li:nth-child(1){background-position: 0 -1721px;} /* URL탬플릿설정 */

/* 2depth - 운영도구 */
.d3-context-menu ul.menu_tool li{background-position: 0 -2169px;} /* Ping, Tracert, SSH */

/* 2depth - 초기화 */
.d3-context-menu ul.menu_reset li:nth-child(1){background-position: 0 -2247px;} /* 맵초기화*/
.d3-context-menu ul.menu_reset li:nth-child(2){background-position: 0 -2272px;} /* 위치초기화 */




/* 1depth */
li[class*="rMenu"]{background:url("../img/d3/menu/topo-icons-v5.11.png") no-repeat;padding-left:22px}
li[class*="rMenu"]> img:nth-child(1){display:none}

.d3-context-menu .rMenu_highest{background-position: 0 -770px} /* 최상위그룹 */
.d3-context-menu .rMenu_high{background-position: 0 -795px} /* 상위그룹 */
.d3-context-menu .rMenu_mode{background-position: 0 -820px} /* 모드변경 */
.d3-context-menu .rMenu_search{background-position: 0 -845px} /* 장비찾기 */
.d3-context-menu .rMenu_add{background-position: 0 -870px} /* 추가 */
.d3-context-menu .rMenu_change{background-position: 0 -895px} /* 변경 */
.d3-context-menu .rMenu_image{background-position: 0 -920px} /* Image 관리 */
.d3-context-menu .rMenu_draw{background-position: 0 -945px} /* 그리기도구 */
.d3-context-menu .rMenu_save{background-position: 0 -970px} /* 저장 */
.d3-context-menu .rMenu_setting{background-position: 0 -995px} /* 환경설정 */
.d3-context-menu .rMenu_ruler{background-position: 0 -1020px} /* 눈금 */
.d3-context-menu .rMenu_guide{background-position: 0 -1045px} /* 안내선 */
.d3-context-menu .rMenu_auto{background-position: 0 -1070px} /* 회선자동연결 */
.d3-context-menu .rMenu_reset{background-position: 0 -1095px} /* 초기화 */

.d3-context-menu .rMenu_group{background-position: 0 -1271px} /* 그룹보기 */
.d3-context-menu .rMenu_gis{background-position: 0 -1296px} /* GIS보기 */
.d3-context-menu .rMenu_devSearch{background-position: 0 -1321px} /* 장비찾기 */
.d3-context-menu .rMenu_imgSave{background-position: 0 -1346px} /* 이미지저장 */
.d3-context-menu .rMenu_clock{background-position: 0 -1371px} /* 디지털시계 */
.d3-context-menu .rMenu_sound{background-position: 0 -1396px} /* 사운드On/Off */
.d3-context-menu .rMenu_slide{background-position: 0 -1421px} /* 슬라이드 */
.d3-context-menu .rMenu_topoEx{background-position: 0 -1446px} /* 토폴로지 Export */

.d3-context-menu .rMenu_point{background-position: 0 -1471px} /* point추가 */
.d3-context-menu .rMenu_ifStyle{background-position: 0 -1496px} /* 회선스타일 변경 */
.d3-context-menu .rMenu_ifpoling{background-position: 0 -1521px} /* 회선폴링 */
.d3-context-menu .rMenu_polDelete{background-position: 0 -1546px} /* 삭제 */
.d3-context-menu .rMenu_polingIf{background-position: 0 -1571px} /* 폴링회선보기 */
.d3-context-menu .rMenu_array{background-position: 0 -1596px} /* 정렬 */

.d3-context-menu .rMenu_detail{background-position:0 -1846px} /* 장비상세정보 */
.d3-context-menu .rMenu_compose{background-position: 0 -1871px} /* 장비구성정보 */
.d3-context-menu .rMenu_operTool{background-position: 0 -1896px} /* 운영도구 */
.d3-context-menu .rMenu_urlCall{background-position: 0 -1920px} /* URL 호출 */

.d3-context-menu .rMenu_goGroup{background-position: 0 -1945px;} /* 그룹들어가기 */
.d3-context-menu .rMenu_groupEvent{background-position: 0 -1971px;} /* 그룹이벤트현황 */

.d3-context-menu .rMenu_imgStyle{background-position: 0 -1995px} /* 도형스타일 */
.d3-context-menu .rMenu_orderChg{background-position: 0 -2021px;} /* 표시순서변경 */
.d3-context-menu .rMenu_imgCopy{background-position: 0 -2045px;} /* 도형복사 */

.d3-context-menu .rMenu_moveGroup{background-position: 0 -1621px;} /* 그룹이동 */
.d3-context-menu .rMenu_devCopy{background-position: 0 -1647px} /* 장비복사 */
.d3-context-menu .rMenu_groupCopy{background-position: 0 -1647px} /* 그룹복사 */
.d3-context-menu .rMenu_memo{background-position: 0 -1671px} /* 메모 */
.d3-context-menu .rMenu_urlSet{background-position: 0 -1697px} /* URL설정 */

.d3-context-menu .rMenu_circuitAdd{background-position: 0 -2196px} /* 회선추가 */
