<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.hamonsoft.cportal.repository.MemberRepository">

	<select id="getTime" resultType="string">
		select now()
	</select>
	
	<insert id="insertMember" >
		insert into tbmember (email,membername,celltel,password,businessname,businessnumber,licensegrade,companyphone,emailcertificationyn,withdrawalyn,withdrawaldate,joindate,createdAt,updatedBy,updatedAt) values
		(#{email}, #{membername}, #{celltel}, sha2(#{password}, 256), #{businessname}, #{businessnumber}, #{licensegrade}, #{companyphone}, #{emailcertificationyn}, #{withdrawalyn}, #{withdrawaldate}, #{joindate}, now(), #{updatedBy}, now())
	</insert>

	<insert id="insertTaxInfomation" >
		insert into tbtaxinformation (taxid, email, Representationname, taxcompanynumber, taxemail, postnumber, address, detailaddress, businesscondition, businesskind, settlementmeans, baseamount, createdAt, updatedBy, updatedAt) values
			(uuid(), #{email}, #{representationname}, #{taxcompanynumber}, #{taxemail}, #{postnumber}, #{address}, #{detailaddress}, #{businesscondition}, #{businesskind}, #{settlementmeans}, #{baseamount}, now(), #{updatedBy}, now())
	</insert>

	<insert id="insertAuthentication" >
		insert into tbauthentication (authenticationid, email, agreeyn, createdAt) values
			(uuid(), #{email}, #{agreeyn}, now())
	</insert>

	<select id="selectMember" resultType="com.hamonsoft.cportal.domain.Member">
		select * from tbmember
		where email=#{email}
	</select>

	<select id="listAll" resultType="Member">
        <![CDATA[
		select
			email,membername,celltel,password,businessname,businessnumber,licensegrade,companyphone,emailcertificationyn,withdrawalyn,withdrawaldate,joindate,createdAt,updatedBy,updatedAt
		from tbmember
		]]>
    </select>

	<select id="login" resultType="Member">
		select * from tbmember
		where email=#{uid} and password=sha2(#{upw}, 256) and emailcertificationyn = 1 and withdrawalyn != '1'
	</select>

	<update id="keepLogin">
		update tbmember set sessionkey = #{sessionId}, sessionlimit = #{next}
		where email = #{uid}
	</update>

	<select id="checkUserWithSessionKey" resultType="Member">
		select * from tbmember
		where sessionKey = #{value} and sessionlimit > now()
	</select>

	<select id="fineId" resultType="string">
		select email from tbmember
		where membername = #{membername} and celltel = #{celltel}
	</select>

	<update id="updatePw">
		update tbmember set password=sha2(#{pw}, 256)
		where membername = #{membername} and celltel = #{celltel} and email = #{email}
	</update>

	<update id="emailcertification">
		update tbmember set emailcertificationyn = 1, withdrawalyn = '0'
		where email = #{email}
	</update>


</mapper>