<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hamonsoft.cportal.repository.MemberSetRepository">
    <!--  사용자 전체 건수  -->
   <select id="memberSetCount" resultType="int">
       select count(*)
         from tbmember                      a01
              inner join tbmemberlicense    j01
                      on a01.email = j01.email
              left  join tbtaxinformation   j02
                      on a01.email = j02.email
              left  join tbmemberusehistory j03
                      on a01.email = j03.email
                     and(j03.useday, j03.useday) in (select email, max(useday) useday from tbmemberusehistory group by email)
        where 1 = 1
          and a01.withdrawalyn != '1'
   </select>


    <!--  전체리스트 조회  -->
    <select id="memberSetList" resultType="hashmap">
        <![CDATA[
            select a01.membername
                  ,a01.email
                  ,a01.licensegrade
                  ,a01.celltel
                  ,a01.businessname
                  ,a01.businessnumber
                  ,a01.joindate
                  ,j01.datakeepterm
                  ,j01.datakeepunit
                  ,j01.basevolume + j01.servicevolume + j01.addvolume totalsoluble
                  ,j01.basevolume
                  ,j01.basecharge
                  ,j01.servicevolume
                  ,j01.addvolume
                  ,j01.addcharge
                  ,j02.postnumber
                  ,j02.address
                  ,j02.detailaddress
                  ,concat(j02.postnumber,' ',j02.address,' ',j02.detailaddress) zipaddress
                  ,j03.totalvolume
                  ,j03.networkvolume
                  ,j03.servervolume
                  ,j03.apvolume
                  ,j03.dbmsvolume
                  ,j03.fmsvolume
                  ,j03.totalcharge
                  ,round(j03.totalvolume / (j01.basevolume + j01.servicevolume + j01.addvolume) * 100,2) userate
              from tbmember                      a01
                   inner join tbmemberlicense    j01
                           on a01.email = j01.email
                   left  join tbtaxinformation   j02
                           on a01.email = j02.email
                   left  join tbmemberusehistory j03
                           on a01.email = j03.email
                          and(j03.useday, j03.useday) in  (select email, max(useday) useday from tbmemberusehistory group by email)
             where 1 = 1
               and a01.withdrawalyn != '1'
             order by a01.email
        ]]>
    </select>

</mapper>