<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.hamonsoft.cportal.repository.UserRepository">

    <select id="info" resultType="MemberTaxInformation">
        select  T1.email, T1.membername, T1.grpname, T1.celltel, T1.businessname, T1.businessnumber, T1.licensegrade
                , T2.companyname, T2.representationname, T2.taxcompanynumber, T2.taxemail, T2.address, T2.detailaddress, T2.businesskind, T2.businesscondition
        from tbmember T1
            join tbtaxinformation T2
            on T1.email = T2.email
        where T1.email=#{email}
    </select>

    <update id="chgmember">
        update tbmember set businessname=#{businessname}, membername=#{membername}, grpname=#{grpname}, celltel=#{celltel}, businessname=#{businessname}, businessnumber=#{businessnumber}
        where email = #{email}
    </update>

    <update id="chggrade">
        update tbmember set licensegrade=#{licensegrade}
        where email = #{email}
    </update>

    <update id="chgtaxinformation">
        update tbtaxinformation set companyname=#{companyname}, Representationname=#{representationname}, taxcompanynumber=#{taxcompanynumber}, taxemail=#{taxemail}, postnumber=#{postnumber}, address=#{address}, detailaddress=#{detailaddress}, businesskind=#{businesskind}, businesscondition=#{businesscondition}
        where email = #{email}
    </update>

    <update id="chgpw">
        update tbmember set password=sha2(#{password}, 256)
        where email = #{email}
    </update>

    <update id="withdrawal">
        update tbmember set withdrawalyn = '1', withdrawaldate = DATE_FORMAT(now(),'%Y%m%d')
        where email = #{email}
    </update>


</mapper>