<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.hamonsoft.cportal.repository.UserRepository">

    <select id="memberInfo" resultType="Member">
        select email, membername, grpname, celltel, businessname, businessnumber, licensegrade
        from tbmember
        where email=#{email}
    </select>

    <select id="taxInfo" resultType="TaxInformation">
        select companyname, representationname, taxcompanynumber, taxemail, address, detailaddress, businesskind, businesscondition, paid_amount, DATE_FORMAT(updatedAt,'%Y-%m-%d %H:%i:%s') as updatedAt
        from tbtaxinformation
        where email=#{email}
    </select>

    <select id="getCreatedAt" resultType="Date">
        select DATE_FORMAT(createdAt,'%Y-%m-%d %H:%i:%s') as createdAt
        from tbtaxinformation
        where email=#{email}
    </select>

    <update id="chgmember">
        update tbmember set businessname=#{businessname}, membername=#{membername}, grpname=#{grpname}, celltel=#{celltel}, businessname=#{businessname}, businessnumber=#{businessnumber}
        where email = #{email}
    </update>

    <update id="chggrade">
        update tbmember set licensegrade=#{licensegrade}
        where email = #{email}
    </update>

    <update id="updatePaidAmount">
        update tbtaxinformation set paid_amount = #{paid_amount}, next_pay_date = #{next_pay_date}
        where email=#{email}
    </update>

    <update id="chgtaxinformation">
        update tbtaxinformation set companyname=#{companyname}, Representationname=#{representationname}, taxcompanynumber=#{taxcompanynumber}, taxemail=#{taxemail}, postnumber=#{postnumber}, address=#{address}, detailaddress=#{detailaddress}, businesskind=#{businesskind}, businesscondition=#{businesscondition}
        where email = #{email}
    </update>

    <update id="chgpw">
        update tbmember set password=sha2(#{password}, 256)
        where email = #{email}
    </update>

    <update id="withdrawal">
        update tbmember set withdrawalyn = '1', withdrawaldate = DATE_FORMAT(now(),'%Y%m%d')
        where email = #{email}
    </update>

    <select id="findAll" resultType="HashMap">
        select * from tbmember
    </select>

    <select id="getBaseLicense" resultType="String">
        SELECT baselicense
        FROM tbcommoncode
        WHERE groupcode = '001' AND commoncode = #{commoncode};
    </select>

    <insert id="insertMemberLicenseHistory" >
        insert into tbmemberlicensehistory (licenseid, email, licensegrade, datakeepterm, datakeepunit, basecharge, addcharge, basevolume, servicevolume, addvolume) values
            (uuid(), #{email}, #{licensegrade}, #{datakeepterm}, #{datakeepunit}, #{basecharge}, #{addcharge}, 0, 0, 0)
    </insert>

</mapper>