<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body class="d-flex flex-column h-100">

<footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">Copyright &copy; 2023 <a href="http://hamonsoft.co.kr/" target="_blank">HAMONSOFT</a>.
                All rights reserved.
            </div>
<!--            <div class="col-auto">-->
<!--                <a class="small" href="#!">Privacy</a>-->
<!--                <span class="mx-1">&middot;</span>-->
<!--                <a class="small" href="#!">Terms</a>-->
<!--                <span class="mx-1">&middot;</span>-->
<!--                <a class="small" href="#!">Contact</a>-->
<!--            </div>-->
        </div>
    </div>
</footer>

</body>

</html>